*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  body{
    font-family: tahoma, Helvetica, 
    sans-serif;
    height: auto;
    background-color: rgb(246, 251, 255);
  }
  header{
    display: flex;
    justify-content: space-between;
    padding: .5%;
    height:15%;
  }
  p{
    color: rgb(47, 24, 90);
  }
  .grid-container{
    padding: 1rem;
    display: grid;
    /* gap: 2%; */
    grid-template-columns: .5fr 2.5fr 1fr;

  }
  .grid-column{
    background-color: white;
    border: solid rgb(255, 255, 255) .5rem;
    border-radius: .8rem;
    display: grid;
    place-items: center;
    filter: drop-shadow(0 0 0.75rem rgb(175, 175, 192));
    height:min-content;

  }
 
  .logo>img{
    max-width: 15rem;
    height: auto;
    position: absolute;
    right: 2rem;
}
  header>img{
    max-width: 10rem;
    height: auto;
  }
.button{
    max-width: 100%;
    height: auto;
    display: grid;
    place-items: center;

}
.button>img{
    max-width: 6rem;
    height: auto;
    transform: skewY(10deg);
  }
.button>p{
    z-index: 3;
    position: absolute;
    /* transform: skewY(10deg); */
}
.feed-wrapper{
  gap: 0%;
  /* height: 100%; */
  /* padding: 1rem; */
  display: grid;
  /* align-items: start; */
}
.post{
    border-top: solid rgb(197, 191, 197) .1rem;
    display: grid;
    place-items: center;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    /* max-height: 10rem; */
    min-height: 5rem;
    
}
.post>img{
    max-width: 70%;
}
.post>p{

}
@media screen and (max-width: 600px) {
  .grid-container{
    grid-template-columns: .5fr 2.5fr;
  }
}